.homeHome {
  height: 800px;
  width: 100%;
  background-image: url(./img/france.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 15px 30px #666666;
}

.homeDescription {
  justify-content: center;
  padding-top: 5%;
  font-size: 27px;
  color: #dcdddf;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.5em;
  text-align: justify;
}

.homeTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  font-size: 6em;
  color: #F6BE5D;
  text-shadow: 5px 2px rgba(0, 0, 0, 0.541);
}


.membership,
.donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.membership_img {
  background-image: url(./img/chambord.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 90%;
}


.membership_subtitle,
.donation_subtitle {
  font-size: 5em;
  color: #666666;
  text-shadow: 8px 4px 8px #666666a6;
  font-family: 'Aref Raruqaa', serif;
  font-weight: 500;
  text-align: center;
  margin: .5em;
}


.membership_button, .donation_button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-left: 7em;
  margin-right: 7em;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #dcdddf;
  text-align: center;
  font-size: 45px;
  font-family: 'Aref Ruqaa', serif;
  transition: all 0.5s;
  padding: 20px 60px 30px 60px;
  cursor: pointer;
  letter-spacing: .15em;

}
.donation_button{
  background-color: #0000009f;
}
.membership_button{
  background-color: #29518565;
}


.membership_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.membership_button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.membership_button:hover {
  background-color: #27446b;
}

.membership_button:hover span {
  padding-right: 25px;
}

.membership_button:hover span:after {
  opacity: 1;
  right: 0;
}

.donation_img {
  background-image: url(./img/cathédrale.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}

.donation_line,
.membership_line {
  margin-top: 4em;
  margin-bottom: 2em;
  width: 150px;
  padding: 1px;
  border-radius: 50%;
  background-color: #B98F46;
  border: 1.5px solid #B98F46;
}

.donation_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.donation_button span:after {
  content: "\00bb";
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.donation_button:hover span {
  padding-right: 25px;
}

.donation_button:hover span:after {
  opacity: 1;
  right: 0;
}


@media screen and (max-width:1300px) {

  .membership_img {
    margin-top: 20px;
    box-shadow: 0px 20px 20px grey;

  }

  .membership_button, .donation_button {
    font-size: 30px;
  }

  .homeHome {
    height: 700px;
  }

  .homeTitle {
    padding-top: 15vw;
    font-size: 9vw;
  }

  .homeDescription {
    font-size: 20px;
    padding-bottom: 1em;
  }

}


@media screen and (max-width:800) {
  .homeHome {
    height: 400px;
  }

  .homeTitle {
    font-size: 30px;
  }

  .homeDescription {
    padding-top: 4%;
    font-size: 15px;
    padding-bottom: 1em;
  }

  .donation_subtitle,
  .membership_subtitle {
    font-size: 50px;
  }

 
  .donation_img, .membership_img {
    height: 200px;
    background-position: 20% 10%;
  }
}

@media screen and (max-width:550px) {
  
  .donation_line,
  .membership_line {
    margin-top: 20px;
  }

  .donation_img, .membership_img {
    height: 200px;
    background-position: 25% 30%;
  }

  .donation_subtitle,
  .membership_subtitle {
    font-size: 40px;
    margin: auto;}

  .donation_button, .membership_button {
    padding: 2%;
    margin: 30PX;
    font-size: 17px;
  }

  .homeHome {
    height: 450px;
  }

  .homeTitle {
    padding-top: 3.5em;
    font-size: 30px;
  }

  .homeDescription {
    padding-top: 4%;
    font-size: 15px;
    padding-bottom: 1em;
  }
}

@media screen and (max-width:400px) {

  .donation_subtitle,
  .membership_subtitle {
    font-size: 20px;
    margin: auto;
  }

  .donation_button, .membership_button {
    padding: 1.2%;
    font-size: 15px;
  }

  .homeHome {
    height: 350px;
  }

  .homeDescription {
    font-size: 12px;
    padding-bottom: 1em;
  }

}