.navbar {
  position: fixed;
  height: 3em;
  background: linear-gradient(to right, rgb(148, 131, 84), rgb(97, 57, 12));
  width: 100%;
}

.main_pages {
  color: #eeeeeed8;
  display: flex;
  flex-direction: wrap;
  justify-content: end;
  font-size: 1.3em;
  padding: .5em 2em;
  gap: 2%;
}

.logo {
  position: absolute;
  width: 150px;
  margin: -5px;
}

.navbar {
  display: inline-block;
  min-width: 50px;
}

.link {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.link:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.link:hover:after {
  width: 90%;
  background: #eeeeeed8;

}

.navbar .menu-burger {
  display: none;
  position: absolute;
  right: 5em;
  width: 30px;
  padding-top: .2em;
}

.mobile-menu{
  margin-left: 0;
}

@media screen and (max-width:800px) {
  .main_pages {
    font-size: medium;
    padding: 1em 2em;
  }
}

@media screen and (max-width:550px) {
  .navbar {
    padding: 0;
  }

  .navbar .menu-burger {
    display: inline-block;
  }

  .main_pages{
    visibility: hidden;
  }

  .nav:hover .main_pages{
    visibility: visible;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.459);
    width: 50%;
    height: 20em;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: center;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 20px;
  }

.nav:after .main_pages{
  visibility: hidden;
}

  .nav .link{
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }

  

}