.footer {
    background: linear-gradient(#2D1F1B, #0a0807);
    color: rgb(85, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13%;
    height: 200px;
    line-height: 2.5;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.footer_logo {
    margin-bottom: 2em;
}

.footer_description {
    display: flex;
    flex-direction: row;
}

.footer_subtitle {
    font-weight: 200;
}

.footer_privacy {
    padding-right: 5em;
}

.footer_image {
    width: 70%;
}

.mail {
    color: #bebebe9f;
}

.copyright {
    background-color: black;
    color: rgba(255, 255, 255, 0.418);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 15px;
}


@media screen and (max-width: 1200px) {

    .footer {
        display: flex;
        font-size: 15px;
        padding-right: 3em;
        padding-left: 2em;
        height: 30vh;
        line-height: 1.5;
        gap: 9%;
    }



}

@media screen and (max-width: 900px) {

    .footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        font-size: 15px;
        padding-right: 6em;
        padding-left: 5em;
        height: 30vh;
    }

    .footer_description{
        margin-bottom: 30px;
    }

    .footer_logo{
        padding-left: 10px;
    }

    .footer_image {
        width: 50%;
    }

    .footer_contact {
        padding-top: 1em;
        padding-left: 1em;
    }

    .footer_copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {

    .footer {
        display: flex;
        justify-content: center;
        height: 20em;
        font-size: small;
    }
    .copyright{
        font-size: small;
    }

}

@media screen and (max-width: 480px) {

    .footer_description {
       display: flex;
       flex-direction: column;
       font-size: smaller;
    }

    .contact_subtitle{
        margin-top: 20px;
        margin-bottom: 1em;
    }

}